<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="java.sql.Timestamp" alias="Timestamp" />
    <package name="com.google.sample.models"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${spanner.jdbc.driver}"/>
        <property name="url" value="${spanner.jdbc.url}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="SingerMapper.xml" />
    <mapper resource="TransactionMapper.xml" />
  </mappers>
</configuration>
